<form [formGroup]="form" skipValidation (ngSubmit)="saveChange()">
    <p-panel #pnl header="Chi tiết thuộc tính">
        <!--Form grid-->
        <div class="formgrid grid">

            <div class="field col-12">
                <label for="name" class="block">Tên danh mục <span class="required">*</span></label>
                <input id="name" pInputText type="text" (keyup)="generateSlug()" class="w-full" formControlName="name"/>
                <app-validation-message [entityForm]="form" fieldName="name" [validationMessages]="validationMessages"></app-validation-message>
            </div>
            
            <div class="field col-12">
                <label for="slug" class="block">Slug <span class="required">*</span></label>
                <input id="slug" pInputText type="text" class="w-full" formControlName="slug"/>
                <app-validation-message [entityForm]="form" fieldName="slug" [validationMessages]="validationMessages"></app-validation-message>
            </div>

            <div class="field col-12">
                <label for="parentId" class="block">Danh mục cha</label>
                <p-dropdown 
                    [options]="toolCategories" 
                    formControlName="parentId" 
                    placeholder="Chọn danh mục" 
                    [showClear]="true"
                    autoWidth="false" [style]="{'width':'100%'}"
                ></p-dropdown>
            </div>

            <div class="field col-12 md:col-6">
                <label for="coverPicture" class="block">Hình ảnh</label>
                <input id="coverPicture" type="file" (change)="onFileChange($event)" class="w-full">
            </div>

            <div class="field col-12 md:col-6">
                <p-image [src]="thumbnailImage" [alt]="selectedEntity.name" width="250" [preview]="true"></p-image>
            </div>

            <div class="field col-12">
                <label for="description" class="block">Mô tả</label>
                <p-editor formControlName="description" [style]="{'height':'320px'}"></p-editor>
            </div>

            <div class="field-checkbox col-12 md:col-3">
                <p-checkbox formControlName="visibility" binary="true" id="visibility"></p-checkbox>
                <label for="visibility">Hiển thị</label>
            </div>

            <div class="field col-12">
                <label for="keywordSEO" class="block">Từ khóa SEO</label>
                <textarea id="keywordSEO" pInputTextarea class="w-full" formControlName="keywordSEO"></textarea>
                <app-validation-message [entityForm]="form" fieldName="keywordSEO" [validationMessages]="validationMessages"></app-validation-message>
            </div>

            <div class="field col-12">
                <label for="descriptionSEO" class="block">Mô tả SEO</label>
                <textarea id="descriptionSEO" pInputTextarea class="w-full" formControlName="descriptionSEO"></textarea>
                <app-validation-message [entityForm]="form" fieldName="descriptionSEO" [validationMessages]="validationMessages"></app-validation-message>
            </div>
            
        </div>
    
        <ng-template pTemplate="footer">
            <button type="submit" [disabled]="!form.valid || btnDisabled" pButton icon="pi pi-save" iconPos="left" label="Lưu lại"></button>
        </ng-template>
        
        <!--BlockUI-->
        <p-blockUI [blocked]="blockedPanel" [target]="pnl">
            <p-progressSpinner [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
        </p-blockUI>
    </p-panel>
</form>